{
  "presets": [
    [
      "es2015",
      {
        "loose": true,
        "modules": false,
        "spec": true
      }
    ]
  ],
  "plugins": [
    [
      "babel-plugin-transform-builtin-extend",
      {
        "globals": [
          "Error",
          "Array",
          "CustomEvent"
        ]
      }
    ]
  ]
}
